<footer class="new_footer_area bg_color">

  <div class="footer_bottom" style="text-align: center; padding: 15px;">
    <div class="" style="margin: 40px 0 0 0; border-top: 2px solid ;">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7">
          <p class="mb-0 f_400">© Angular Inc.. 2019 All rights reserved.</p>
        </div>
        <div class="col-lg-6 col-sm-5 text-right">
          <p>Made with <i class="icon_heart"></i> in <a
              href="https://angular.dev/guide/routing/router-tutorial#objectives" target="_blank">Angular</a>
          </p>
          <ul>
            <li style="list-style: none;">
              <a routerLink="/">Home </a>
            </li>
            <li style="list-style: none;">
              <a routerLink="/about">About </a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</footer>